{% extends "home/index_SEO.html" %}
{% block contenido %}
<header class="padding-top header-index">
    <section class="row sFull">
        <div id="head"class="small-12 medium-8 medium-centered columns text-center padding-top">
            <div class="padding-top show-for-medium-up"></div>
            <h5><strong>Phyro | Estudio Creativo Dígital</strong></h5>
            <div class="show-for-medium-up">
                <h2 class="h2Text">PLATAFORMA</h2>
                <h2 class="h2Text"><strong>DE IDEAS</strong></h2>
            </div>
            <div class="show-for-small-only">
                <h2>PLATAFORMA</h2>
                <h2><strong>DE IDEAS</strong></h2>
            </div>
            <hr>
            {%if error%}
            <h5 style="color:#d0233c;"><strong>{{error}}</strong></h5>
            {%endif%}
            <form id="formulario" name="form" method="post" action=".">{% csrf_token %}
                <div class="padding-top">
                    <h5>Usuario</h5>
                    <input id="id_username" maxlength="254" name="username" type="text" required/>
                    <h5>Contraseña</h5>
                    <input id="id_password" name="password" type="password" required/>
                    <div class="spacer"></div>
                </div>
                <div class="row">
                    <div class="small-6 columns">
                        <button type="submit" class="button round expand zeroM CTA"><strong>LOGIN</strong></button>
                    </div>
                    <div class="small-6 columns">
                        <a href="/registro" class="button round expand zeroM CTA"><strong>REGISTRO</strong></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</header>
{% endblock %}