{% extends "home/index_SEO.html" %}
{% block contenido %}
<section class="padding-top ">
    <hr>
    {%if perfil%}
    <article class="row">
        <div class="large-6 columns text-center ">
            <h3><a href="/team"><strong>{{perfil.nombre}}</strong></a></h3>
            <div class="row">
                <div class="medium-8 medium-centered large-12 columns">
                    <p>{{perfil.descripcion}}</p>
                </div>
            </div>
            
            <ul class="toolPhyro" data-orbit 
                  data-options="animation_speed:800;
                  timer_speed: 2500;
                  slide_number: false;
                  pause_on_hover: false;
                  navigation_arrows:false;
                  bullets:true;">
                {%for tag in perfil.preferencias.all%}
                <li><h3><a href="#"><strong>{{tag}}</strong></a></h3></li>
                {%endfor%}
            </ul>
            
        </div>
        <div class="large-6 columns text-center">
            <img class="th" src="{{MEDIA_URL}}{{perfil.imagen}}" alt="Somos una Agencia de Desarrollo y Diseño Web Autodidactas y Apasionados de la web">
        </div>
    </article>
    {%endif%}
    <div class="padding-top"></div>
    
</section>

{% endblock %}


