{% extends "home/index_SEO.html" %}
{% block contenido %}
<section class="padding-top ">
    <hr>
    
    <article class="row">
      {%if registrado%}
        <div class="large-12 columns text-center ">
          <h2>Gracias por registrarte en nuestra beta</h2>
          <h3>Porfavor sigue la siguiente liga para iniciar sesion con tu nueva cuenta</h3>
          <br>
          
        </div>
        <div class="large-6 columns text-left ">
          <a href="/" class="button round expand zeroM CTA"><strong>Iniciar Sesion</strong></a>
        </div>
      {%else%}
        <div class="large-12 columns text-center ">
          <h2>Unete hoy a la Beta de <strong>PhyroServer Projects</strong></h2>
          <br>
        </div>
        <div class="large-6 columns text-center ">
          <form method="post" action=".">{% csrf_token %}
            <br>
            {{fUsuario}}
            <br>
            <br>
            <br>
            <br>
            <br>
            {{registro}}
            <br>
            <button type="submit" name="registrar"class="button round expand zeroM CTA"><strong>Registrar</strong></button>
          </form>
        </div>
        <div class="large-6 columns text-center ">
        </div>
      {%endif%}
    </article>
    <div class="padding-top"></div>
    
</section>

{% endblock %}


